.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

body {
    font-family: sans-serif;
    background-color: #2E3442;
}
h1, h2, h3, h4, h5, h6 {
    color: #D0CFCF
}

.graficos 
{
    background-color: #2E3442;
}