.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

body {
    font-family: sans-serif;
    background-color: #282D39;
}
h1, h2, h3, h4, h5, h6 {
    color: #D0CFCF
}

.RecCompra
{
    background-color: #F64005;
    color: #FFFFFF;
    width: 120px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #D0CFCF;
}